#Uniqlo小程序
^https:\/\/event\.uniqlo\.cn\/uniqlo_new_cms\/api\/welcome\/index url reject-dict
^https:\/\/event\.uniqlo\.cn\/uniqlo_new_cms\/api\/homefloatinglayer\/better url reject-dict
^https:\/\/event\.uniqlo\.cn\/uniqlo_new_cms\/api\/watch\/getButton url reject-dict

#B站换肤
^https:\/\/app\.bilibili\.com\/x\/resource\/show\/skin\? url script-response-body https://raw.githubusercontent.com/kokoryh/Script/master/js/bili-suit-diy.js

hostname = event.uniqlo.cn
